.DS_Store
node_modules
/dist
dist/
unpackage
/log
log/
/target
target/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.classpath
.project
*.iml
*.eml
*.log
*.class
*.log.*
.DS_Store
*.cache
*.lock
/build/
/out
out/
*.settings